## Agenda

* Import packages
* Connect to DB
* load documents into panda dataframe
* Extract profile json
* Flatten json
* Calculate distance
* Save to db

## Import packages

In [41]:
# Install a pip package in the current notebook kernel
#!pip3 install cloudant
import sys
!{sys.executable} -m pip install numpy
!{sys.executable} -m pip install cloudant
!{sys.executable} -m pip install pixiedust

Requirement already satisfied: numpy in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (1.15.4)
Requirement already satisfied: cloudant in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (2.13.0)
Requirement already satisfied: requests<3.0.0,>=2.7.0 in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (from cloudant) (2.21.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (from requests<3.0.0,>=2.7.0->cloudant) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (from requests<3.0.0,>=2.7.0->cloudant) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (from requests<3.0.0,>=2.7.0->cloudant) (2018.11.29)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (from requests<3.0.0,>=2.7.0->cloudant) (2.8)
Requirement already satisfied: pixiedust in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (1.1.18)
Requirement already satisfied: mpld3 in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (from pixiedust) (0.3)
Requirement already satisfied: markdown in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (from pixiedust) (3.0.1)
Requirement already satisfied: geojson in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (from pixiedust) (2.5.0)
Requirement already satisfied: colour in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (from pixiedust) (0.1.5)
Requirement already satisfied: astunparse in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (from pixiedust) (1.6.3)
Requirement already satisfied: lxml in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (from pixiedust) (4.3.1)
Requirement already satisfied: requests in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (from pixiedust) (2.21.0)
Requirement already satisfied: six<2.0,>=1.6.1 in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (from astunparse->pixiedust) (1.12.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (from astunparse->pixiedust) (0.32.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (from requests->pixiedust) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (from requests->pixiedust) (1.24.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (from requests->pixiedust) (2018.11.29)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/ivanp/WatsonStudioDesktop/miniconda3/envs/desktop/lib/python3.6/site-packages (from requests->pixiedust) (2.8)

In [42]:
import numpy as np
import pandas as pd
import time
import json
from pandas.io.json import json_normalize #package for flattening json in pandas df
import pixiedust

In [43]:
import cloudant

## Connect to Cloudant Dbs

In [8]:
from cloudant.client import Cloudant
from cloudant.adapters import Replay429Adapter
#client = Cloudant.iam(cloudant_username, cloudant_apikey, connect=True, adapter=Replay429Adapter(retries=10, initialBackoff=0.01))
client = Cloudant.iam("cloudant_username", 
                      "cloudant_apikey", 
                      connect=True, adapter=Replay429Adapter(retries=10, initialBackoff=0.01))

In [9]:
# Perform client tasks...
session = client.session()
print('Databases: {0}'.format(client.all_dbs()))

Databases: ['c4cprofiles_db', 'community_db', 'edge_db', 'match_db', 'mysample2_db', 'pi_db', 'profiles_db', 'profs_db']

In [10]:
db = client['c4cprofiles_db']

## Load data into pandas dataframe

In [11]:
response = db.all_docs(limit=500, include_docs= True)

# put document bodies into an array
docs = []
for r in response['rows']:
    docs.append(r['doc'])

In [12]:
# create a Pandas dataframe containing the data

df = pd.DataFrame(data=docs)
#display(df.head(7))
df.head(5)

,_id,_rev,ageGroup,id,location,profile,status,user_id,whenCreated
0,1595193640-adult-center_1,1-90ecd23fa686854619c6090daa0e0c4f,adult,1595193640-adult-center_1,center_1,"{'word_count': 7020, 'processed_language': 'en...",active,1595193640-adult-center_1,1595193644273
1,1595193720-adult-center_1,1-9ff4bc6c29183041249974e2a4f41c98,adult,1595193720-adult-center_1,center_1,"{'word_count': 12757, 'processed_language': 'e...",active,1595193720-adult-center_1,1595193725233
2,1595193855-adult-center_1,1-98d7c618d61442d4b6796703a8d02b4d,adult,1595193855-adult-center_1,center_1,"{'word_count': 1668, 'processed_language': 'en...",active,1595193855-adult-center_1,1595193870063
3,1595193915-adult-center_1,1-2d57a126860ddc85b9ef8eff81129eff,adult,1595193915-adult-center_1,center_1,"{'word_count': 516, 'word_count_message': 'The...",active,1595193915-adult-center_1,1595193926261
4,1595193966-adult-center_1,1-97143843b294dbf6f4e9ff342c544c32,adult,1595193966-adult-center_1,center_1,"{'word_count': 685, 'processed_language': 'en'...",active,1595193966-adult-center_1,1595193983397

In [13]:
count_row = df.shape[0]  # gives number of row count
count_col = df.shape[1] 
print('db # rows ' , count_row)
#print('cols ' , count_col)
#print(df.shape)

db # rows  12

In [14]:
grouped = df.groupby([df.ageGroup,df.status])
adults = grouped.get_group(('adult','active'))  #.reset_index()
students = grouped.get_group(('student','active'))
#print(adults['id'])
print("adults " ,adults.shape[0])
print("students " ,students.shape[0])

adults  5
students  7

In [15]:
# create an adult list from a dataframe column 
adult_list = adults['id'].tolist()

j = 0
for i in adult_list: 
    print('row:', j , '--id:', adult_list[j]) # printing ids
    j+=1

row: 0 --id: 1595193640-adult-center_1
row: 1 --id: 1595193720-adult-center_1
row: 2 --id: 1595193855-adult-center_1
row: 3 --id: 1595193915-adult-center_1
row: 4 --id: 1595193966-adult-center_1

In [16]:
# create a student list from a dataframe column 
student_list = students['id'].tolist()

j = 0
for i in student_list: 
    print('row:', j , '--id:', student_list[j]) # printing ids 
    j+=1

row: 0 --id: 1595194028-student-HS_1
row: 1 --id: 1595194177-student-HS_1
row: 2 --id: 1595194242-student-HS_1
row: 3 --id: 1595194312-student-HS_1
row: 4 --id: 1595194359-student-HS_1
row: 5 --id: 1595194416-student-HS_1
row: 6 --id: 1595194488-student-HS_1

## Extract profile data into json

```json
[
  {
    "word_count": 31210,
    "processed_language": "en",
    "personality": [
      {
        "trait_id": "big5_openness",
        "name": "Openness",
        "category": "personality",
        "percentile": 0.41082833860271567,
        "significant": true,
        "children": [
          {
            "trait_id": "facet_adventurousness",
            "name": "Adventurousness",
            "category": "personality",
            "percentile": 0.9928832722907611,
            "significant": true
          },
          {
            "trait_id": "facet_artistic_interests",
            "name": "Artistic interests",
            "category": "personality",
            "percentile": 0.617785710647723,
            "significant": true
          },
          {
            "trait_id": "facet_emotionality",
            "name": "Emotionality",
            "category": "personality",
            "percentile": 0.32497110283541053,
            "significant": true
          },
          {
            "trait_id": "facet_imagination",
            "name": "Imagination",
            "category": "personality",
            "percentile": 0.3500777779046056,
            "significant": true
          },
          {
            "trait_id": "facet_intellect",
            "name": "Intellect",
            "category": "personality",
            "percentile": 0.6927187072564286,
            "significant": true
          },
          {
            "trait_id": "facet_liberalism",
            "name": "Authority-challenging",
            "category": "personality",
            "percentile": 0.7654294245462194,
            "significant": true
          }
        ]
      },
```

In [17]:
adults_profile = json_normalize(adults['profile'])
adults_profile.head(5)

,consumption_preferences,needs,personality,processed_language,values,warnings,word_count,word_count_message
0,[{'consumption_preference_category_id': 'consu...,"[{'trait_id': 'need_challenge', 'name': 'Chall...","[{'trait_id': 'big5_openness', 'name': 'Openne...",en,"[{'trait_id': 'value_conservation', 'name': 'C...",[],7020,NaN
1,[{'consumption_preference_category_id': 'consu...,"[{'trait_id': 'need_challenge', 'name': 'Chall...","[{'trait_id': 'big5_openness', 'name': 'Openne...",en,"[{'trait_id': 'value_conservation', 'name': 'C...",[],12757,NaN
2,[{'consumption_preference_category_id': 'consu...,"[{'trait_id': 'need_challenge', 'name': 'Chall...","[{'trait_id': 'big5_openness', 'name': 'Openne...",en,"[{'trait_id': 'value_conservation', 'name': 'C...",[],1668,NaN
3,[{'consumption_preference_category_id': 'consu...,"[{'trait_id': 'need_challenge', 'name': 'Chall...","[{'trait_id': 'big5_openness', 'name': 'Openne...",en,"[{'trait_id': 'value_conservation', 'name': 'C...","[{'warning_id': 'WORD_COUNT_MESSAGE', 'message...",516,There were 516 words in the input. We need a m...
4,[{'consumption_preference_category_id': 'consu...,"[{'trait_id': 'need_challenge', 'name': 'Chall...","[{'trait_id': 'big5_openness', 'name': 'Openne...",en,"[{'trait_id': 'value_conservation', 'name': 'C...",[],685,NaN

In [18]:
students_profile = json_normalize(students['profile'])
students_profile.head(5)

,consumption_preferences,needs,personality,processed_language,values,warnings,word_count
0,[{'consumption_preference_category_id': 'consu...,"[{'trait_id': 'need_challenge', 'name': 'Chall...","[{'trait_id': 'big5_openness', 'name': 'Openne...",en,"[{'trait_id': 'value_conservation', 'name': 'C...",[],2327
1,[{'consumption_preference_category_id': 'consu...,"[{'trait_id': 'need_challenge', 'name': 'Chall...","[{'trait_id': 'big5_openness', 'name': 'Openne...",en,"[{'trait_id': 'value_conservation', 'name': 'C...",[],9544
2,[{'consumption_preference_category_id': 'consu...,"[{'trait_id': 'need_challenge', 'name': 'Chall...","[{'trait_id': 'big5_openness', 'name': 'Openne...",en,"[{'trait_id': 'value_conservation', 'name': 'C...",[],1803
3,[{'consumption_preference_category_id': 'consu...,"[{'trait_id': 'need_challenge', 'name': 'Chall...","[{'trait_id': 'big5_openness', 'name': 'Openne...",en,"[{'trait_id': 'value_conservation', 'name': 'C...",[],1804
4,[{'consumption_preference_category_id': 'consu...,"[{'trait_id': 'need_challenge', 'name': 'Chall...","[{'trait_id': 'big5_openness', 'name': 'Openne...",en,"[{'trait_id': 'value_conservation', 'name': 'C...",[],1224

In [19]:
adult_personality_data = json_normalize(data=adults['profile'], record_path='personality'
                            ,errors='ignore')
adult_personality_data.head(6) # 5 + 1 new set

,category,children,name,percentile,significant,trait_id
0,personality,"[{'trait_id': 'facet_adventurousness', 'name':...",Openness,0.943621,True,big5_openness
1,personality,"[{'trait_id': 'facet_achievement_striving', 'n...",Conscientiousness,0.871738,True,big5_conscientiousness
2,personality,"[{'trait_id': 'facet_activity_level', 'name': ...",Extraversion,0.633776,True,big5_extraversion
3,personality,"[{'trait_id': 'facet_altruism', 'name': 'Altru...",Agreeableness,0.216472,True,big5_agreeableness
4,personality,"[{'trait_id': 'facet_anger', 'name': 'Fiery', ...",Emotional range,0.007168,True,big5_neuroticism
5,personality,"[{'trait_id': 'facet_adventurousness', 'name':...",Openness,0.999574,True,big5_openness

In [20]:
student_personality_data = json_normalize(data=students['profile'], record_path='personality'
                            ,errors='ignore')
student_personality_data.head(6) # 5 + 1 new set

,category,children,name,percentile,significant,trait_id
0,personality,"[{'trait_id': 'facet_adventurousness', 'name':...",Openness,0.985286,True,big5_openness
1,personality,"[{'trait_id': 'facet_achievement_striving', 'n...",Conscientiousness,0.882516,True,big5_conscientiousness
2,personality,"[{'trait_id': 'facet_activity_level', 'name': ...",Extraversion,0.553078,True,big5_extraversion
3,personality,"[{'trait_id': 'facet_altruism', 'name': 'Altru...",Agreeableness,0.242844,True,big5_agreeableness
4,personality,"[{'trait_id': 'facet_anger', 'name': 'Fiery', ...",Emotional range,0.252514,True,big5_neuroticism
5,personality,"[{'trait_id': 'facet_adventurousness', 'name':...",Openness,0.998691,True,big5_openness

In [21]:
adult_personality_children_data = json_normalize(data=adults['profile'], record_path=['personality', 'children']
                              ,errors='ignore') #, record_prefix='_')
adult_personality_children_data.head(31) #30 + 1 new set
# 6 children / each personality dimension : [ Openness, Conscientiousness, Extraversion, Agreeableness, Emotional-range ]

,category,name,percentile,significant,trait_id
0,personality,Adventurousness,0.872805,True,facet_adventurousness
1,personality,Artistic interests,0.418483,True,facet_artistic_interests
2,personality,Emotionality,0.158366,True,facet_emotionality
3,personality,Imagination,0.044812,True,facet_imagination
4,personality,Intellect,0.996393,True,facet_intellect
5,personality,Authority-challenging,0.883534,True,facet_liberalism
6,personality,Achievement striving,0.898745,True,facet_achievement_striving
7,personality,Cautiousness,0.971289,True,facet_cautiousness
8,personality,Dutifulness,0.813399,True,facet_dutifulness
9,personality,Orderliness,0.287742,True,facet_orderliness
10,personality,Self-discipline,0.853284,True,facet_self_discipline
11,personality,Self-efficacy,0.907225,True,facet_self_efficacy
12,personality,Activity level,0.838512,True,facet_activity_level
13,personality,Assertiveness,0.996225,True,facet_assertiveness
14,personality,Cheerfulness,0.270537,True,facet_cheerfulness
15,personality,Excitement-seeking,0.038379,True,facet_excitement_seeking
16,personality,Outgoing,0.654048,True,facet_friendliness
17,personality,Gregariousness,0.319312,True,facet_gregariousness
18,personality,Altruism,0.883813,True,facet_altruism
19,personality,Cooperation,0.702330,True,facet_cooperation
20,personality,Modesty,0.217840,True,facet_modesty
21,personality,Uncompromising,0.923637,True,facet_morality
22,personality,Sympathy,0.987389,True,facet_sympathy
23,personality,Trust,0.498176,True,facet_trust
24,personality,Fiery,0.009729,True,facet_anger
25,personality,Prone to worry,0.010776,True,facet_anxiety
26,personality,Melancholy,0.171550,True,facet_depression
27,personality,Immoderation,0.129637,True,facet_immoderation
28,personality,Self-consciousness,0.069437,True,facet_self_consciousness
29,personality,Susceptible to stress,0.016044,True,facet_vulnerability
30,personality,Adventurousness,0.461340,True,facet_adventurousness

In [22]:
student_personality_children_data = json_normalize(data=students['profile'], record_path=['personality', 'children']
                              ,errors='ignore')
student_personality_children_data.head(6) #6 children / 1 personality name
# 6 children / each personality name : [ Openness, Conscientiousness, Extraversion, Agreeableness, Emotional-range ]

,category,name,percentile,significant,trait_id
0,personality,Adventurousness,0.934679,True,facet_adventurousness
1,personality,Artistic interests,0.982239,True,facet_artistic_interests
2,personality,Emotionality,0.887707,True,facet_emotionality
3,personality,Imagination,0.280627,True,facet_imagination
4,personality,Intellect,0.970637,True,facet_intellect
5,personality,Authority-challenging,0.983536,True,facet_liberalism

In [23]:
adult_needs_data = json_normalize(data=adults['profile'], record_path='needs'
                            ,errors='ignore')
adult_needs_data.head(13) # 12 + 1 new set

   category             name  percentile  significant              trait_id
0     needs        Challenge    0.146272         True        need_challenge
1     needs        Closeness    0.022737         True        need_closeness
2     needs        Curiosity    0.367466         True        need_curiosity
3     needs       Excitement    0.040899         True       need_excitement
4     needs          Harmony    0.012459         True          need_harmony
5     needs            Ideal    0.071551         True            need_ideal
6     needs          Liberty    0.029330         True          need_liberty
7     needs             Love    0.010630         True             need_love
8     needs     Practicality    0.112633         True     need_practicality
9     needs  Self-expression    0.006772         True  need_self_expression
10    needs        Stability    0.105505         True        need_stability
11    needs        Structure    0.739766         True        need_structure
12    needs        Challenge    0.000526         True        need_challenge

In [24]:
student_needs_data = json_normalize(data=students['profile'], record_path='needs'
                            ,errors='ignore')
student_needs_data.head(13) # 12 + 1 new set

   category             name  percentile  significant              trait_id
0     needs        Challenge    0.039853         True        need_challenge
1     needs        Closeness    0.388361         True        need_closeness
2     needs        Curiosity    0.893457         True        need_curiosity
3     needs       Excitement    0.025298         True       need_excitement
4     needs          Harmony    0.115464         True          need_harmony
5     needs            Ideal    0.122216         True            need_ideal
6     needs          Liberty    0.054097         True          need_liberty
7     needs             Love    0.030652         True             need_love
8     needs     Practicality    0.002545         True     need_practicality
9     needs  Self-expression    0.235123         True  need_self_expression
10    needs        Stability    0.868429         True        need_stability
11    needs        Structure    0.606351         True        need_structure
12    needs        Challenge    0.017960         True        need_challenge

In [25]:
adult_values_data = json_normalize(data=adults['profile'], record_path='values'
                            ,errors='ignore')
adult_values_data.head(6) # 5 + 1 new set

,category,name,percentile,significant,trait_id
0,values,Conservation,0.098071,True,value_conservation
1,values,Openness to change,0.142036,True,value_openness_to_change
2,values,Hedonism,0.011761,True,value_hedonism
3,values,Self-enhancement,0.004195,True,value_self_enhancement
4,values,Self-transcendence,0.058710,True,value_self_transcendence
5,values,Conservation,0.013431,True,value_conservation

In [26]:
student_values_data = json_normalize(data=students['profile'], record_path='values'
                            ,errors='ignore')
student_values_data.head(6) # 5 + 1 new set

,category,name,percentile,significant,trait_id
0,values,Conservation,0.235003,True,value_conservation
1,values,Openness to change,0.604861,True,value_openness_to_change
2,values,Hedonism,0.028378,True,value_hedonism
3,values,Self-enhancement,0.029560,True,value_self_enhancement
4,values,Self-transcendence,0.497447,True,value_self_transcendence
5,values,Conservation,0.182441,True,value_conservation

## Flatten json

In [ ]:
i = 1
j = 0

adult_dict ={}
big5_list = []

for index,row in adult_personality_data.iterrows():
    #print('i:' , i , "=", row[1] , '-- with %:', row[3]) # personality name & percentile
    big5_list.append(row[3])
    if  (i%5 == 0):
        #print('row:' , j , big5_list)
        big5_string = ', '.join( str(element) for element in big5_list )
        adult_dict[adult_list[j]] = big5_string
        big5_list.clear()
        j += 1
    i += 1

print('adults dictionary')
display(adult_dict)

In [ ]:
i = 1
j = 0
student_dict ={}
big5_list = []

for index,row in student_personality_data.iterrows():
    #print('i:' , i , "=", row[2] , '-- with %:', row[3]) # name & percentile
    big5_list.append(row[3])
    if  (i%5 == 0):
        #print('row:' , j , big5_list)
        big5_string = ', '.join(str(e) for e in big5_list)
        student_dict[student_list[j]] = big5_string
        big5_list.clear()
        j += 1
    i += 1
    
print('students dictionary')
display(student_dict)

## Calculate distance

In [33]:
a_s_list = []
adult_student_match_df = pd.DataFrame()

for a_id in adult_dict:
    a = np.array(adult_dict[a_id].split(', ')) #strings into array
    x = a.astype(np.float)  # cast array elements to float
    
    for s_id in student_dict:
        b = np.array(student_dict[s_id].split(', '))
        y = b.astype(np.float)
        
        dist = np.linalg.norm(x-y)  ## distance function from numpy
        
        a_s_list.append(a_id)
        a_s_list.append(s_id)
        a_s_list.append(dist)
        
        numberElements = len(a_s_list)
        newRow = pd.DataFrame(np.array(a_s_list).reshape(1,numberElements), columns=['adult_id','student_id','distance'])
        adult_student_match_df = adult_student_match_df.append(newRow, ignore_index=True)
        a_s_list.clear()

adult_student_match_df.head(8)  # 7  + 1 combinations of 1 adult & 7 students

                    adult_id               student_id             distance
0  1595193640-adult-center_1  1595194028-student-HS_1   0.2631620222194246
1  1595193640-adult-center_1  1595194177-student-HS_1  0.44570183482889764
2  1595193640-adult-center_1  1595194242-student-HS_1   0.6005930815588316
3  1595193640-adult-center_1  1595194312-student-HS_1  0.20627814150629042
4  1595193640-adult-center_1  1595194359-student-HS_1   0.7841461778116451
5  1595193640-adult-center_1  1595194416-student-HS_1   0.6436945414314055
6  1595193640-adult-center_1  1595194488-student-HS_1   0.7046966682669955
7  1595193720-adult-center_1  1595194028-student-HS_1   0.6080443026239899

In [34]:
sort_by_adult_student_distance = adult_student_match_df.sort_values(['adult_id','distance'])
print(sort_by_adult_student_distance)

                     adult_id               student_id             distance
3   1595193640-adult-center_1  1595194312-student-HS_1  0.20627814150629042
0   1595193640-adult-center_1  1595194028-student-HS_1   0.2631620222194246
1   1595193640-adult-center_1  1595194177-student-HS_1  0.44570183482889764
2   1595193640-adult-center_1  1595194242-student-HS_1   0.6005930815588316
5   1595193640-adult-center_1  1595194416-student-HS_1   0.6436945414314055
6   1595193640-adult-center_1  1595194488-student-HS_1   0.7046966682669955
4   1595193640-adult-center_1  1595194359-student-HS_1   0.7841461778116451
9   1595193720-adult-center_1  1595194242-student-HS_1   0.3125497618413505
8   1595193720-adult-center_1  1595194177-student-HS_1   0.4703304627072026
12  1595193720-adult-center_1  1595194416-student-HS_1   0.5445275283755024
7   1595193720-adult-center_1  1595194028-student-HS_1   0.6080443026239899
13  1595193720-adult-center_1  1595194488-student-HS_1   0.6732112582661427
10  1595193720-adult-center_1  1595194312-student-HS_1    0.696663008976243
11  1595193720-adult-center_1  1595194359-student-HS_1    1.003508950537902
15  1595193855-adult-center_1  1595194177-student-HS_1  0.13332199128167455
16  1595193855-adult-center_1  1595194242-student-HS_1  0.24004336296166354
19  1595193855-adult-center_1  1595194416-student-HS_1   0.3331919599240164
14  1595193855-adult-center_1  1595194028-student-HS_1   0.4792880876234476
17  1595193855-adult-center_1  1595194312-student-HS_1   0.5626538626746818
20  1595193855-adult-center_1  1595194488-student-HS_1   0.5934684334222059
18  1595193855-adult-center_1  1595194359-student-HS_1   0.7751346027239827
23  1595193915-adult-center_1  1595194242-student-HS_1   0.6582457292720819
21  1595193915-adult-center_1  1595194028-student-HS_1   0.6656977450357691
22  1595193915-adult-center_1  1595194177-student-HS_1   0.7454943838397701
24  1595193915-adult-center_1  1595194312-student-HS_1   0.7781262156618687
26  1595193915-adult-center_1  1595194416-student-HS_1   0.7871252268419809
27  1595193915-adult-center_1  1595194488-student-HS_1   0.7935432499612592
25  1595193915-adult-center_1  1595194359-student-HS_1   0.8919038097625831
30  1595193966-adult-center_1  1595194242-student-HS_1  0.19558748075396679
29  1595193966-adult-center_1  1595194177-student-HS_1  0.20393406126750122
28  1595193966-adult-center_1  1595194028-student-HS_1   0.2936926985232705
33  1595193966-adult-center_1  1595194416-student-HS_1  0.38748655199889653
31  1595193966-adult-center_1  1595194312-student-HS_1  0.41612840905742937
34  1595193966-adult-center_1  1595194488-student-HS_1   0.5322840122003456
32  1595193966-adult-center_1  1595194359-student-HS_1   0.7321587501389125

## Remove low scores

In [35]:
# Get names of indexes for which column distance has value >= 50%
indexNames = sort_by_adult_student_distance[ sort_by_adult_student_distance['distance'].astype(np.float) >= 0.5 ].index
# Delete these row indexes from dataFrame
sort_by_adult_student_distance.drop(indexNames , inplace=True)
print(sort_by_adult_student_distance)

                     adult_id               student_id             distance
3   1595193640-adult-center_1  1595194312-student-HS_1  0.20627814150629042
0   1595193640-adult-center_1  1595194028-student-HS_1   0.2631620222194246
1   1595193640-adult-center_1  1595194177-student-HS_1  0.44570183482889764
9   1595193720-adult-center_1  1595194242-student-HS_1   0.3125497618413505
8   1595193720-adult-center_1  1595194177-student-HS_1   0.4703304627072026
15  1595193855-adult-center_1  1595194177-student-HS_1  0.13332199128167455
16  1595193855-adult-center_1  1595194242-student-HS_1  0.24004336296166354
19  1595193855-adult-center_1  1595194416-student-HS_1   0.3331919599240164
14  1595193855-adult-center_1  1595194028-student-HS_1   0.4792880876234476
30  1595193966-adult-center_1  1595194242-student-HS_1  0.19558748075396679
29  1595193966-adult-center_1  1595194177-student-HS_1  0.20393406126750122
28  1595193966-adult-center_1  1595194028-student-HS_1   0.2936926985232705
33  1595193966-adult-center_1  1595194416-student-HS_1  0.38748655199889653
31  1595193966-adult-center_1  1595194312-student-HS_1  0.41612840905742937

## Write results to Database

In [36]:
match_db = client['match_db']

In [37]:
i=0
for index,row in sort_by_adult_student_distance.iterrows():
    print('Saving...:' , i , "adult:", row[0] , 'student:', row[1] , 'distance:', row[2])
    data = {
        '_id': row[0], # Setting _id is optional
        'adult_id': row[0],
        'student_id': row[1],
        'distance': row[2],
        'date': time.time()
    }
    #call cloudant db and save row
    # # Create a document using the Database API
    #doc = match_db.create_document(data)
    i+= 1

Saving...: 0 adult: 1595193640-adult-center_1 student: 1595194312-student-HS_1 distance: 0.20627814150629042
Saving...: 1 adult: 1595193640-adult-center_1 student: 1595194028-student-HS_1 distance: 0.2631620222194246
Saving...: 2 adult: 1595193640-adult-center_1 student: 1595194177-student-HS_1 distance: 0.44570183482889764
Saving...: 3 adult: 1595193720-adult-center_1 student: 1595194242-student-HS_1 distance: 0.3125497618413505
Saving...: 4 adult: 1595193720-adult-center_1 student: 1595194177-student-HS_1 distance: 0.4703304627072026
Saving...: 5 adult: 1595193855-adult-center_1 student: 1595194177-student-HS_1 distance: 0.13332199128167455
Saving...: 6 adult: 1595193855-adult-center_1 student: 1595194242-student-HS_1 distance: 0.24004336296166354
Saving...: 7 adult: 1595193855-adult-center_1 student: 1595194416-student-HS_1 distance: 0.3331919599240164
Saving...: 8 adult: 1595193855-adult-center_1 student: 1595194028-student-HS_1 distance: 0.4792880876234476
Saving...: 9 adult: 1595193966-adult-center_1 student: 1595194242-student-HS_1 distance: 0.19558748075396679
Saving...: 10 adult: 1595193966-adult-center_1 student: 1595194177-student-HS_1 distance: 0.20393406126750122
Saving...: 11 adult: 1595193966-adult-center_1 student: 1595194028-student-HS_1 distance: 0.2936926985232705
Saving...: 12 adult: 1595193966-adult-center_1 student: 1595194416-student-HS_1 distance: 0.38748655199889653
Saving...: 13 adult: 1595193966-adult-center_1 student: 1595194312-student-HS_1 distance: 0.41612840905742937

In [38]:
# Disconnect from the server
client.disconnect()
print('done')

done

In [39]:
display(sort_by_adult_student_distance)